@(title: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/base.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/vendor.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="stylesheet/less" type="text/css" href="@routes.Assets.at("css/login.less")">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="@routes.Assets.at("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/modernizr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/pace.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/plugins.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/less.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/aos.js")" type="text/javascript"></script>
    </head>
    <body id="top">
        <div class="container">
                <!-- header
    ================================================== -->
            <header class="s-header">

                <div class="header-logo">
                    <a class="site-logo" href="/">
                        <img src=@routes.Assets.at("images/logo.png")>
                    </a>
                </div>
                    <!-- end header-logo -->

                <nav class="header-nav">

                    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

                    <div class="header-nav__content">
                        <h3>Transcend Studio</h3>

                        <ul class="header-nav__list">
                            <li class="current"><a class="smoothscroll" href="/#home" title="home">Home</a></li>
                            <li><a class="smoothscroll" href="#login" title="login">Login</a></li>
                            <li><a class="smoothscroll" href="#services" title="services">Services</a></li>
                            <li><a class="smoothscroll" href="#works" title="works">Works</a></li>
                            <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
                            <li><a href="/chat/chat_display"><img height="42" width="42" src="@routes.Assets.at("images/chat.png")">
                                Chat Room </a><li>
                            <li><a href="/twitter/twitter_display"><img height="42" width="42" src="@routes.Assets.at("images/twitter.png")">
                                <span>
                                Twitter search with Akka streams</span></a>
                            </li>
                            <BR>
                        </ul>

                        <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a>
                            porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>

                        <ul class="header-nav__social">
                            <li>
                                <a href="#0"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-dribbble"></i></a>
                            </li>
                        </ul>

                    </div>
                        <!-- end header-nav__content -->

                </nav>
                    <!-- end header-nav -->

                <a class="header-menu-toggle" href="#0">
                    <span class="header-menu-icon"></span>
                </a>

            </header>

            @content

            <script>
                AOS.init();
            </script>
        </div>
    </body>
</html>